body{
    color: white;
    background-color: rgb(92, 181, 255);
}
.heading{
    width: 80%;
    font-size: 22px;
}
.name_of_objects, #result_object_name, #result_object_accuracy{
    color: rgb(0, 0, 255); 
}
#camera{
    border: 2px dashed rgb(0, 0, 0);
    width: 350px;
    height: 300px;
}
